<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active" aria-current="page">Histórico</li>
	</ol>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
					<tr>
						<th scope="row">Piloto</th>
						<th scope="row">Tipo de Sessão</th>
						<th scope="row">Voltas na Sessão</th>
						<th scope="row" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Data/Hora em que a sessão começou no seu computador">Data/Hora</th>
					</tr>
				</thead>
				<tbody>
					<!-- <tr>
						<td colspan="4" class="table-secondary fw-bold text-center">GP de Monza</td>
					</tr>
					<tr>
						<td>JOÃO FERREIRA</td>
						<td>Pratice 1</td>
						<td>3</td>
						<td>2026-04-05 18:15:46</td>
					</tr>
					<tr>
						<td>JOÃO FERREIRA</td>
						<td>Pratice 1</td>
						<td>3</td>
						<td>2026-04-05 18:15:46</td>
					</tr>
					<tr>
						<td colspan="4" class="table-secondary fw-bold text-center">GP do Brasil</td>
					</tr>
					<tr>
						<td>JOÃO FERREIRA</td>
						<td>Pratice 1</td>
						<td>3</td>
						<td>2026-04-05 18:15:46</td>
					</tr> -->
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
	var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script>

	makeLapHistory();

	function makeLapHistory() {
		getLapHistory()
			.then((response)=>{
				console.log(response);
			});
	}

	async function getLapHistory() {
		let response = await window.pywebview.api.getLapHistory();

		return response;
	}

</script>