<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h2>250 km/h</h2>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h2>6500 rpm</h2>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center h-100">
                <div class="card-footer">
                    Progresso da volta
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="progress-stacked">                        
                        <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33.3333%">
                            <div class="progress-bar bg-success">Setor 1</div>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                            <div class="progress-bar bg-warning">Setor 2</div>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <div class="progress-bar bg-success">Setor 3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>